useDynLib("paRc")

export(## OpenMP function wrappers
       "omp.get.num.procs",
       "omp.set.num.threads",
       "omp.get.max.threads",

       ## Application: Matrix Multiplication 
       "serial.matrix.mult",
       "omp.matrix.mult",
       
       "serial.dot.product",

       ## benchmarking
       "bm.task",
       "bm.tasks",
       "bm.type",
       "bm.types",
       "bm.function.to.apply",
       "bm.is.parallel",
       "bm.cpu.range",
       "bm.data",
       "bm.data.frame",
       "create.benchmark",
       "run.benchmark",

       ## Application: option pricing
       "payoff",
       "maturity",
       "strikeprice",
       "underlying",
       "optiontype",
       "optionclass",
       "priceof",
       "position",
       "maturity<-",
       "strikeprice<-",
       "underlying<-",
       "optiontype<-",
       "optionclass<-",
       "priceof<-",
       "position<-",
       "monteCarloSimulation",
       "as.option",
       "wienerPath",
       "returns"
    )

## S3methods
## benchmarking
S3method("print","benchmark")
S3method("plot","bm_results")

## option pricing
S3method("as.option","default")
S3method("as.option","list")
S3method("as.list","option")
S3method("print","option")
S3method("plot","option")

## coercions
##S3method(as., )

